*{
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
}


/* ItemList Container */

.containerHome{
  display:flex;
  margin: 3vh;
  justify-content: space-evenly;
}
/* ----------------------------------------------------------------- */

/* Cart Widget */
.carritoHolder{
  display:flex;
  background-color: rgb(33, 153, 33);
  height: 5vh;
  width: 6vh;
  position:absolute;
  right:3vh;
  top:0.5vh;
}

.carrito{
  height: 3vh;
  width: 3vh;
  margin:auto;
}

/* --------------------------------------------------------------------------- */

/* ItemCount */
.quitarAgregar{
  display:block;
}

.contadorItem{
  font-size: 7vh;
  font-weight: bold;
}

/* ---------------------------------------------------------------------------- */

/* Item Detail */

.contenedorDetail{
margin:4vh;
display: flex;
justify-content: center;
}

/* ---------------------------------------------------------------------------- */
/* Carrito */
.contenedorCarrito{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
}

.textoCarritoVacio{
  font-size: 13vh;
}
.caritaTriste{
  width: 50vh;
  height: 50vh;
  display:block;
  font-size: 28vh;
  padding:3vh 4vh;
  transform: rotate(90deg)
}
.botonCarritoVacio{
  display:block;
}

.itemsCarrito{
  display:flex;
  margin-top:2vh;
}
/* ---------------------------------------------------------------------------- */



/* Checkout */

.formularioCheckout{
  display: flex;
  flex-direction: column;
  width: 80vh;
  margin:0 auto;
  font-size: 2vh;
  padding:2vh;
}

.formularioCheckout > *{
  margin:2vh;
}

.ordenCompra{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.botonPagoCheckout{
align-items: center;
}

.containerMapCheckout{
  display: flex;
}

.costoTotal{
  width: 50vh;
  height:10vh;
  margin:2vh;
  border:1px solid black;
  border-radius: 25px;
  text-align: center;
  padding: 2vh;
  
}

/* ---------------------------------------------------------------------------- */

/* PAGO */

.pago{
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 12vh;
  margin:8vh;
}

/* ---------------------------------------------------------------------------- */



